{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
      <div class="flex-container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Welcome, {{ user.first_name }}!</h4>
                    </div>
                        <div class="card-body">
                            {% if latest_footprint %}
                              <p>Your latest carbon footprint: {{ latest_footprint }} tonnes CO2e</p>
                            {% else %}
                              <p>You have no carbon footprint history.</p>
                            {% endif %}
                            <a href="{% url 'calculate' %}">Calculate Carbon Footprint</a>
                        </div>
                </div>
            </div>
        </div>
      </div>
  {% else %}
      <div class="flex-container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Welcome to the Personal Carbon Footprint Estimator.</h4>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'signup' %}">Sign Up Here:</a>
                          <br>
                        <a href="{% url 'login' %}">Log In</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
  {% endif %}
{% endblock %}